/*@font-face 
	{
		font-family: "Adventure";
		src: url('../font/Adventure.ttf');
	}
*/
.center
	{
		text-align: center;
	}
.pdf
	{
		width: 90%;
		height: 90%;
	}
#button
	{
		display: inline-block;
		padding: 10px;
		text-decoration: none;
		background-color: #afbcfa;
		border-radius: 10px;
		float: center;
	}

#logo
	{
		width: 10%;
		float: left;
	}

.barnav li a
	{
		display: inline-block;
		/*margin: 10px;*/
		padding:20px;
		text-decoration: none;
		text-align: center;
		font-size: 15px;
		font-weight: 800;
		text-transform: uppercase;
		color: #FFF;
		width: 10%;
		background-color: #2bbdc9;
		border-radius: 10px;
	}
	
.barnav li a:hover
	{

		text-align ; text-decoration;
		/*margin: 10px;*/
		padding: 20px;
		text-decoration: yes;
		font-size: 16px;
		font-family: verdana;
		text-align: center;
		background-color:  	#1366d8;
		border-radius: 10px;
		transition-duration: 0.5s;

	}

.barnav
	{

		text-align ; text-decoration;
		/* margin: 10px; */
		padding: 5px;
		font-family: verdana;
		text-align: center;
		background-color: #ffffff; 
		border-radius: 5px;
		display: block;


	}


ul
	{
		display: block;
	}

li
	{
		display: inline;
	}


.select
	{
		display: none;
	}




/* Responsive Code Begin */

@media screen and (max-width: 840px) 
	{

		ul li
			{
				display: none;
			}

		#logo
			{
			display: inline-block;
			padding: auto;
			}
	
	
		.select
			{
	
				display: block;

				text-align:center ;
				background-color: #2bbdc9; 
				height: 40px;
				width: 100%;
				padding: 0;
				color: white;
				font-size: 100%;
				text-decoration: none;
				border-top: none;
				border-left: none;
				border-right: none;
				border-bottom:  2px solid;

			}

		.select:hover
			{
	
				display: block;

				text-align:center ;
				background-color: #1366d8; 
				height: 40px;
				width: 100%;
				padding: 0;
				color: white;
				font-size: 100%;
				text-decoration: none;
				border-top: none;
				border-left: none;
				border-right: none;
				border-bottom:  2px solid;
				transition-duration: 0.5s;

			}


			/*	.select ul li ul li a:hover
			{
	
				display: block;

			}*/

	}

/* Reponsive Code End */

 /*--------------------------------------*/
 /*--- Gallery Photo !! -----------------*/
/*--------------------------------------*/

#gallery {
    position: relative;
    width: 750px;
}
#thumbs {
    width: auto;
   
}
#thumbs a {
    display: inline;
    float: center;
    margin: 0 0 5px 5px;
    width: 50px;
    height: 50px;
    border: 0px solid #000;
}
#thumbs a img {
    width: 50px;
    height: 50px;
    border: 0;
}
#thumbs a:hover {
    border-color: #ddd;
}
#thumbs a:focus img {
    position: absolute;
    width: 60%;
    height: auto;
    left: 185px;
    top: 20px;
    border: 1px solid #333;
  
  }


  /*-------------------*/
 /*  Fin code gallery */
/*-------------------*/

/*Texte presentation */

#maintitle2 
	{
		font-family: 'verdanna';

	}

body
	{
		background-color:  #008adc;
		margin: 0;
		padding: 0;
	}

#texteall
	{
		background-color: white;
	}


#maintitle
	{

		color: red;
		text-align: center;
		font-style: Verdana,Arial, monospace;
		border-bottom: 2px solid;
	}

#maintitle2
	{

		color: white;
		text-align: center;
		font-style: Verdana,Arial, monospace;
		border-bottom: 2px solid;
	}

#soustitre
	{
		text-align: center;
		color: 	black-gray;

	}

#souspartie
	{
		text-align: center;
		color: 	gray;
		text-decoration: yes;
	}

#soussouspartie
	{
		text-align: center;
		color: 	gray;
		text-decoration: yes;
	}

#certif
	{
		text-align: center;
		color: 	black;
	}

#corp p
	{
     margin: 2px 10px 2px 10px;
     font-size: 20px;
     color:  	black;
	}

#corp li
	{
     margin: 2px 10px 2px 10px;
     font-size: 20px;
     color:  	black;
     display: block;
     list-style: square;
	}

p
	{

	font-size: 20px;
	text-align: center;
	color: white;

	}


  /* --------------------------- */
 /*    Exclusif Page membre     */
/*-----------------------------*/


/*-----SECTION-----*/
#box
	{
		text-align: center;
	}

#boxes img
	{
		border-radius: 100%;
		width: 30%;
	}

