#center
	{

	float: center;

	}
#img
	{

		display: block;
		width: 30%;
		margin: 20px;
		border-radius: 10px;
		float: left;
	}

#img1
	{

		display: block;
		width: 30%;
		margin: 20px;
		border-radius: 10px;
		float: right;
	}

#pdf
	{

		
		width: 90%;
		height: 800px;
		
	}

/* Début Barre de navigation */

#logo
	{
		position: right;
		height: 100px;
		width: 200px;
		display: inline-block;
		padding-right: 80px;
		padding-top: 0px;

	}

	
.barnav li a
	{
		display: inline-block;
		/*margin: 10px;*/
		padding:20px;
		text-decoration: none;
		text-align: center;
		font-size: 15px;
		font-weight: 800;
		text-transform: uppercase;
		color: #FFF;
		width: 10%;
		background-color: #2bbdc9;
		border-radius: 10px;
	}
	
.barnav li a:hover
	{

		text-align ; text-decoration;
		/*margin: 10px;*/
		padding: 20px;
		text-decoration: yes;
		font-size: 16px;
		font-family: verdana;
		text-align: center;
		background-color:  	#1366d8;
		border-radius: 10px;
		transition-duration: 0.5s;

	}

.barnav
	{

		text-align ; text-decoration;
		/* margin: 10px; */
		padding: 5px;
		font-family: verdana;
		text-align: center;
		background-color: #ffffff; 
		border-radius: 5px;
		display: block;


	}


ul
	{
		display: block;
	}

li
	{
		display: inline;
	}


.select
	{
		display: none;
	}


/* Responsive Code Begin */

@media screen and (max-width: 840px) 
	{

		ul li
			{
				display: none;
			}

		#logo
			{
			display: inline-block;
			padding: auto;
			}
	
	
		.select
			{
	
				display: block;

				text-align:center ;
				background-color: #2bbdc9; 
				height: 40px;
				width: 100%;
				padding: 0;
				color: white;
				font-size: 100%;
				text-decoration: none;
				border-top: none;
				border-left: none;
				border-right: none;
				border-bottom:  2px solid;

			}

		.select:hover
			{
	
				display: block;

				text-align:center ;
				background-color: #1366d8; 
				height: 40px;
				width: 100%;
				padding: 0;
				color: white;
				font-size: 100%;
				text-decoration: none;
				border-top: none;
				border-left: none;
				border-right: none;
				border-bottom:  2px solid;
				transition-duration: 0.5s;

			}


			/*	.select ul li ul li a:hover
			{
	
				display: block;

			}*/

	}

/* Reponsive Code End */

/* Fin de barre de navigation */

  /*---------------------------------------*/
 /* Corps de la page séparation des block */
/*---------------------------------------*/


body
	{
		background-color:  #008adc;
		margin: 0;
		padding: 0;
	}

#texteall
	{
		background-color: white;
	}


#maintitle
	{

		color: red;
		text-align: center;
		font-style: Verdana,Arial, monospace;
		border-bottom: 2px solid;
	}

#maintitle2
	{

		color: white;
		text-align: center;
		font-style: Verdana,Arial, monospace;
		border-bottom: 2px solid;
	}

#soustitre
	{
		text-align: center;
		color: 	black-gray;

	}

#souspartie
	{
		text-align: center;
		color: 	gray;
		text-decoration: yes;
	}

#soussouspartie
	{
		text-align: center;
		color: 	gray;
		text-decoration: yes;
	}

#certif
	{
		text-align: center;
		color: 	black;
	}

#corp p
	{
     margin: 2px 10px 2px 10px;
     font-size: 20px;
     color:  	black;
	}

#corp li
	{
     margin: 2px 10px 2px 10px;
     font-size: 20px;
     color:  	black;
     display: block;
     list-style: square;
	}

p
	{

	font-size: 20px;
	text-align: center;
	color: white;

	}


  /* --------------------------- */
 /*    Exclusif Page membre     */
/*-----------------------------*/


/*-----SECTION-----*/

section#box
	{

	width: 80%;
	margin: 60px;


	}

section#box div#boxes
	{

	display: inline;
	float: left;
	margin-right: 10px;
	margin-top: 10px;
	text-align: center;
	overflow: auto;
	
	}
section div img
	{

	border-radius: 100%;
	width: 50%

	}

	#mdn
		{
			color: white;
		}
	#mdn1
		{
			color: gray;
		}
  /*--------------------------------------*/
 /*--- Gallery Photo !! -----------------*/
/*--------------------------------------*/

#gallery {
    position: relative;
    width: 750px;
}
#thumbs {
    width: auto;
   
}
#thumbs a {
    display: inline;
    float: center;
    margin: 0 0 5px 5px;
    width: 50px;
    height: 50px;
    border: 0px solid #000;
}
#thumbs a img {
    width: 50px;
    height: 50px;
    border: 0;
}
#thumbs a:hover {
    border-color: #ddd;
}
#thumbs a:focus img {
    position: absolute;
    width: 60%;
    height: auto;
    left: 185px;
    top: 20px;
    border: 1px solid #333;
   
